@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@model Pelicula

@{

    var horas = Model.MinutosDuracion / 60;
    var minutos = Model.MinutosDuracion % 60;
    var anio = Model.FechaLanzamiento.Year;
}
<div class="container-xl my-5">
    <!-- HEADER PELÍCULA -->
    <div class="row g-5 mb-5">

        <!-- POSTER -->
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="poster-container mb-3 position-relative">
                <img class="poster-img w-100 rounded-4"
                     src="@Model.PosterUrlPortada" />
                <div class="position-absolute top-0 start-0 w-100 h-100 rounded-4"
                     style="background: linear-gradient(to top, rgba(0,0,0,.6), transparent);"></div>
            </div>

            <div class="d-flex gap-2">
                <button class="btn btn-primary flex-grow-1 d-flex align-items-center justify-content-center gap-2">
                    <span class="material-symbols-outlined filled">play_arrow</span>
                    Ver Trailer
                </button>
                <button class="btn btn-outline-secondary" style="width:48px">
                    <span class="material-symbols-outlined text-primary">favorite</span>
                </button>
            </div>
        </div>

        <!-- INFO -->
        <div class="col-lg-8">
            <div class="d-flex flex-column gap-4">

                <!-- TÍTULO -->
                <div class="d-flex justify-content-between align-items-start flex-wrap gap-3">
                    <h1 class="fw-bold display-5 m-0">@Model.Titulo</h1>
                    <div class="px-3 py-2 rounded bg-surface-light border border-secondary d-flex align-items-center gap-1">
                        <span class="material-symbols-outlined text-warning filled">star</span>
                        <strong>@Model.PromedioRating</strong>
                        <span class="small text-muted">/10</span>
                    </div>
                </div>

                <!-- META -->
                <div class="d-flex flex-wrap gap-3 text-muted-custom">
                    <span>@anio</span>
                    <span>•</span>
                    <span>@horas hs @minutos mins</span>
                    <span>•</span>
                    <span class=" px-2">@Model.Genero.Descripcion</span>
                </div>

                <!-- GÉNEROS -->
                @* <div class="d-flex flex-wrap gap-2">          
                    
                    <span class="badge rounded-pill badge-custom px-3 py-2">@Model.Genero.Descripcion</span>
                </div> *@

                <!-- SINOPSIS -->
                <div>
                    <h3 class="h5 fw-bold mb-2">Sinopsis</h3>
                    <p class="text-muted-custom fs-6 lh-lg">
                        @Model.Sinopsis
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!-- RESEÑAS -->
    <div class="row g-5 mb-5">

        <!-- LISTADO -->
        <div class="col-lg-8">
            <div class="card-custom rounded-4 p-4">
                <h3 class="fw-bold mb-4">Reviews</h3>
                <div class="d-grid gap-3 d-sm-flex  my-4">
                    <button onclick="cargarLlm('Resumen','@Model.Titulo')"
                            class="btn btn-primary btn-sm d-flex align-items-center justify-content-center gap-2"
                            type="button">
                        <span class="material-symbols-outlined">
                            auto_awesome                          
                        </span>
                        <span>Resumen IA</span>
                    </button>
                    <button type="button"
                            onclick="cargarLlm('Spoiler','@Model.Titulo')"
                            class="btn btn-primary btn-sm d-flex align-items-center justify-content-center gap-2">
                        <span class="material-symbols-outlined">
                            movie        
                        </span>
                        <span>Mostrar Spoiler</span>
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            @(ViewBag.UserReview ? "disabled" : "")
                            data-bs-toggle="modal"
                            data-bs-target="#createReviewModal">
                        Publicar review
                    </button>
                </div>
                @* mostrar mensajes de exito o de error *@
                @if(TempData["ReviewExiste"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @TempData["ReviewExiste"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <!-- reseña -->
                @foreach (var item in Model.ListaReviews)
                {
                    <div class="d-flex gap-3 border-5 border-light">
                        <div class="rounded-circle" style="width:40px;height:40px;background:url('@item.Usuario.ImagenUrlPerfil') center/cover">
                        </div>
                        <div>
                            <h5 class="mb-0 text-light">@string.Concat(item.Usuario.Nombre, " ", item.Usuario.Apellido)</h5>
                            <small class="">@item.FechaReview.ToShortDateString()</small>
                            <div class="mb-2">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= item.Rating)
                                    {
                                        <span class="material-symbols-outlined star-filled">star</span>
                                    }
                                    else
                                    {
                                        <span class="material-symbols-outlined star-empty">grade</span>
                                    }
                                }
                            </div>
                            <p class="small text-muted-custom m-0">
                               @item.Comentario
                            </p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @if (UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin").Result)
                                {
                                    <a asp-controller="Review" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                                        <span class="material-symbols-outlined">edit</span> Editar
                                    </a>
                                }

                            }
                           
                        </div>
                    </div>
                }
                
            </div>
        </div>

       

    </div>
    

</div>
@{
    var peliculaReviewModel = new CreateReviewViewModel
    {
        PeliculaId = Model.Id,
        PeliculaTItulo = Model.Titulo
    };
}
<partial name="~/Views/Review/_CreateReview.cshtml" model="peliculaReviewModel"/>

@* Modal LLM *@
@{
    var llmViewModel = new ModalLlmViewModel
    {
        Tipo = "",
        Pelicula = Model.Titulo,
        SpoilerResumen = ""
    };
}
<partial name="~/Views/Home/_ModalLlm.cshtml" model="llmViewModel" />

<style>
    .star-filled {
        color: #ffc107;
    }

    .star-empty {
        color: #6c757d;
    }
</style>
@section Scripts {
    <script>
        function cargarLlm(tipo, tituloPelicula) {
           //Mostrar el modal
           const myModal = new bootstrap.Modal(document.getElementById('llmModal'));
           //Actualizar el titulo del modal
              document.getElementById('modalTipoText').textContent = tipo;
              document.getElementById('modalPeliculaTexto').textContent = tituloPelicula;
              //mostrar spinner y ocultar contenido
                document.getElementById('llmModalLoading').style.display = 'block';
                document.getElementById('llmModalContent').style.display = 'none';

                myModal.show();
            //determinar la url según el tipo
            const url = tipo === 'Spoiler'
                ? '@Url.Action("Spoiler","Home")?titulo=' + encodeURIComponent(tituloPelicula)
                : '@Url.Action("Resumen", "Home")?titulo='  + encodeURIComponent(tituloPelicula);

                //hacer la llamada AJAX
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    if(data.success){
                        //Actualizar el contenido del modal
                    document.getElementById('llmModalContent').innerHTML = '<p>' + data.data + '</p>';
                    }else{
                         document.getElementById('llmModalContent').innerHTML = '<div class="alert alert-danger">Error:' + data.message + '</div>';
                    }
                })
                .catch(error=>
                    {document.getElementById('llmModalContent').innerHTML = 
                    '<div class="alert alert-danger">Error al cargar información:'+error.message+'</div>';
                    }
                )
                .finally(()=>{
                    //Ocultar el spinner y mostrar el contenido
                    document.getElementById('llmModalLoading').style.display = 'none';
                    document.getElementById('llmModalContent').style.display = 'block';
                });
        }
    </script>
}
